<div>

  <form>
    <div>
      <img src="https://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}.jpg"/>
      <br>
    <label>Rating</label>

    <input type="radio"  name="rating" value="1" required>
    1
      <input type="radio" name="rating" value="2" required>
      2
      <input type="radio"  name="rating" value="3" required>
      3
      <input type="radio" name="rating" value="4" required>
      4
      <input type="radio" name="rating" value="5" required>
      5
      <input type="radio" name="rating" value="6" required>
      6
      <input type="radio" name="rating" value="7" required>
      7
      <input type="radio" name="rating" value="8" required>
      8
      <input type="radio" name="rating" value="9" required>
      9
      <input type="radio" name="rating" value="10" required>
      10

  </div>
    <div><input name="name" required placeholder="Name"/></div>
    <div><textarea placeholder="Reason for rating"></textarea></div>
    <button type="submit">Submit</button>
  </form>
</div>
