form{
  margin-top: 200px;
}
form label{
  font-weight: bold;

}

div.rating input{
  display: inline-block;
  margin-top:5px;
}

div.rating label{
  display: inline-block;
  margin-right: 35px;
}

div img{
  max-height: 500px;
  max-width: 500px;
}
