h1{
  clear: both;
  /*text-align: center;*/
  font-size: 80px;
  text-decoration: underline;
  text-decoration-color: darkolivegreen;
}
div.photo{
  margin-top:50px;
  height: 300px
}

div.photo img{
  width: 90%;
  height: 100%;
  border: 1px solid darkolivegreen;
  box-shadow: 0 0 20px darkolivegreen;
  padding: 25px;

}

div.rating{
  width: 90%;
  text-align: center;
  padding: 15px;
  height: 100px;
}

